.image {
  position: absolute;
  justify-content: center;
  top: 50;
  width: 200px;
  height: 200px;
  display: flex;
}
.image:hover {
  transition: background-color 0.2s ease-in-out;
  background-color: rgba(0, 0, 0, 0.2);
}
